
@{
    ViewBag.Title = "InvestigatorMeeting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <!-- <div class="link-blue"><a class="link-blue" href="javascript:void(0)">Download Process Document</a></div>-->


    <h1>Investigator Meeting Presentations</h1>
    <p style="font-size: 24px; font-weight: bold;">
        <u>
            <br>
            Introduction
        </u>
    </p>
    <p style="font-size: 24px; font-weight: bold;"><a href="/Videos/Slide1/index.html" target="_new"><span class="glyphicon glyphicon-new-window" style="font-size:18px"></span>&nbsp;&nbsp;Introduction - Dr. Anatoly Langer</a></p>
    <p style="font-size: 24px; font-weight: bold;">
        <u>
            <br>
            Links
        </u>
    </p>
    <p style="font-size: 24px; font-weight: bold;"><a href="/Videos/Slide2/index.html" target="_new"><span class="glyphicon glyphicon-new-window" style="font-size:18px"></span>&nbsp;&nbsp;The Need for Lipid Lowering Beyond Statin Therapy</a></p>
    <p style="font-size: 24px; font-weight: bold;"><a href="/Videos/Slide3/index.html" target="_new"><span class="glyphicon glyphicon-new-window" style="font-size:18px"></span>&nbsp;&nbsp;The Data Behind PCSK9 Inhibitors</a></p>
    <p style="font-size: 24px; font-weight: bold;"><a href="/Videos/Slide4/index.html" target="_new"><span class="glyphicon glyphicon-new-window" style="font-size:18px"></span>&nbsp;&nbsp;Real-world Data from the Goal Canada Program</a></p>
  
    <p style="font-size: 24px; font-weight: bold;"><a href="/Videos/SlideLast/index.html" target="_new"><span class="glyphicon glyphicon-new-window" style="font-size:18px"></span>&nbsp;&nbsp;Goal International eCRF</a></p>
    <p style="font-size: 24px; font-weight: bold;">
        <u>
            <br>
            Presentations
        </u>
    </p>
    

