@{
    ViewBag.Title = GoalInternational.Languages.Common.SteeringCommittee;
}

<h1>@GoalInternational.Languages.Common.SteeringCommittee</h1><br />


@Html.Raw(HttpUtility.HtmlDecode(GoalInternational.Languages.Common.SteeringCommitteeDetails))
