<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@GoalInternational.Languages.Common.Error</title>
</head>
<body>
    <hgroup>
        <h1>@GoalInternational.Languages.Common.Error.</h1>
        <h2>@GoalInternational.Languages.Common.ErrorOccurred</h2>
    </hgroup>
</body>
</html>
