
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RemovePatientVisit</title>
</head>
<body>
    <div> 
@using (Html.BeginForm("RemovePatientVisit", "PatientVisit", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
}
    </div>
</body>
</html>
